/* 文章表格 */
/* .vp-doc-container {
    --vp-doc-blog-bg: rgba(100, 190, 190, .15);
    background-image: linear-gradient(90deg, var(--vp-doc-blog-bg) 3%, transparent 0), linear-gradient(1turn, var(--vp-doc-blog-bg) 3%, transparent 0);
    background-position: 50%;
    background-size: 20px 20px;
} */

@media (min-width: 960px) {
    .vp-doc-container:not(.has-sidebar) .content {
        max-width: 1200px !important;
    }
}

vp-doc h2 {
    padding-top: 10px;
    margin: 15px 0 16px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    border-top: 1px solid var(--vp-c-divider);
    transition: border-top var(--vp-t-color), color var(--vp-t-color);
}

/* tip提示 */
.vp-doc .hint-container {
    padding: 8px 16px 8px;
    margin: px auto;
    font-size: var(--vp-custom-block-font-size);
    line-height: var(--vp-custom-block-line-height);
    color: var(--vp-c-text-2);
    border: 1px solid transparent;
    border-radius: 8px;
}


/* 字体 */

/* @font-face {
    font-family: hytmr-65w;
    src: url(../../assets/fonts/hytmr-65w.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap 
}

@font-face {
    font-family: hytmr-55w;
    src: url(../../assets/fonts/hytmr-55w.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

body {
    Sms: hytmr-55w
} */


.vp-home-banner .content .hero-text {
    width: 100%;
    max-width: 700px;
    margin-top: 1.5rem;
    font-size: 50px;
    font-weight: 500;
    color: var(--vp-c-text-hero-text);
    border-radius: 5px
}



/* .vp-navbar .navbar-menu-link {
    font-size: 16px;
}

.vp-navbar-menu-group {
    font-size: 16px;

} */

/* @font-face {
    font-family: LXGWWenKaiGB-Light;
    src: url(../../assets/fonts/LXGWWenKaiGB-Light.ttf);
    font-style: normal;
    font-display: swap 
} 
@font-face {
    font-family: LXGWWenKaiGB-Regular;
    src: url(../../assets/fonts/LXGWWenKaiGB-Regular.ttf);
    font-style: normal;
    font-display: swap 
}


body {
    font-family: LXGWWenKaiGB-Regular
} */


body {
    font-family: "LXGW WenKai GB";
    font-weight: normal;
}



/* 提示 */
.vp-doc .hint-container {

    font-size: 16px;
}

/* 卡片间隔——已在源码改写 */
/* .vp-card-grid[data-v-9a86fd54] {
    display: grid;
    gap: 16px 6px;
    margin: 16px 0;
}

.vp-card-grid[data-v-9a86fd54] {
    display: grid;
    gap: 16px 6px;
    margin: 16px 0;
} */


/*颜色*/
:root {
    /*主页 卡片背景*/
    --main-card-background: rgba(255, 255, 255, 0.8);
    /*主页卡片边框*/
    --main-card-border: #e3e8f7;
    /*主页卡片阴影*/
    --main-border-shadow: #2c2d300c;
    /*主页 卡片 hover 颜色*/
    --about-card-hover-bg: rgba(100, 190, 190, 0.8);
    /*主页 按钮 背景*/
    --home-action-bnt-bg: rgb(235, 235, 239);


    /*博客单项hover border 颜色*/
    --vp-blog-post-item-hover-border: rgba(80, 134, 161, 0.5);
    /*博客单项hover shadow*/
    --vp-blog-post-item-hover-shadow: rgba(80, 134, 161, 0.2);

    /*语言 span 背景*/
    --about-me-skill-item-bg: #f4f2ed;
}


/*单个卡片背景*/
.about-me-card-bg {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--main-card-background);
    border: 1px solid var(--main-card-border);
    box-shadow: 0 8px 12px -4px var(--main-border-shadow);
    overflow: hidden;
}

/*卡片 小 title*/
.about-me-card-title-normal {
    color: var(--vp-c-text-2);
    font-size: 13px;
    margin-bottom: 10px;
}

/*卡片 大 text*/
.about-me-card-text-big {
    color: var(--vp-c-text-1);
    margin: 10px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    @media screen and (max-width: 770px) {
        font-size: 24px;
        margin: 7px 0;
    }
}

/*卡片 暗色 text*/
.about-me-card-text-soft {
    color: var(--vp-c-text-2);
}

/*卡片 彩色 text*/
.about-me-card-text-color {
    background: var(--vp-bg-home-hero-name, linear-gradient(315deg, var(--vp-c-purple-1) 10%, var(--vp-c-brand-2) 75%, var(--vp-c-brand-2) 100%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}